/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: 1em auto;
    max-width: 80%;
    width: 100%;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.col-1 {
  width: 100%;
  max-width: 100%;
}

.col-2 {
  width: 100%;
  max-width;
}

.wrapper {
  padding: 20px;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: justify;
}

blockquote {
  margin: 0;
  padding-left: 20px;
  border-left: 2px solid #999;
  color: #666;
}

header {
  width: 100%;
  height: 230px;
  background: url('../img/header-background.jpg') no-repeat;
  background-position: center center;
  background-size: 100% auto;
  color: white;
}

.header-overlay {
  background: rgba(70, 72, 82, 0.3);
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10px;
}

nav ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 15px 30px;
}

nav li {
  display: inline-block;
  width: 80px;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav ul {
  float: inline;
}

em {
  font-weight: bold;
  font-style: normal;
}

.italic-text {
  font-style: italic;
}

.nav-logo {
  padding: 15px 20px;
  margin: 0;
}

.header-title {
  width: 170px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  margin: 70px auto 10px;
  padding: 5px 10px;
  border: 1px solid white;
  font-size: 1.4em;
  text-align: center;
}

.header-subtitle {
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

#about {
  width: 100%;
  color: white;
  padding-bottom: 20px;
  background-color: #00D37D;
}

.about-header {
  width: 100%;
  text-align: center;
  padding: 15px 0 0px;
  font-size: 1.4em;
  margin: 0;
}

.about-video {
  width: 70%;
  height: 150px;
  margin: 0 auto 20px;
  background: #333;
}

#sponsors {
  padding: 20px 20px;
}

.sponsors-logo {
  margin: 0 auto;
  width: 300px;
}

#event {
  background-color: #00D37D;
  color: white;
}

#event h1 {
  margin: 0;
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-style: italic;
  font-size: 42px;
}

#more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #358FD3;
  height: 600px;
}

#more hr{
  width: 70%;
  border: 2px solid white;
  background: white;
}

#more h1 {
  margin: 0;
  font-family: 'Arvo', serif;
  font-size: bold;
  font-style: italic;
  text-align: center;
  color: white;
  font-size: 64px;
}

.event-map {
  height: 300px;
  background: #333;
}

#letter {
  padding: 0 20px;
}

#contact {
  padding: 0 20px;
  margin-bottom: 30px;
}

#contact h1 {
  text-align: center;
  margin: 0;
}

.contact-email {
  width: 100%;
  box-sizing: border-box;
}

#contact input {
  margin: 5px auto;
  padding: 10px 20px;
  font-size: 1.1em;
}

.contact-submit {
  padding: 10px 20px;
  color: white;
  background: #00D37D;
  border: none;

}

.footer {
  padding: 30px;
  text-align: center;
  color: #999;
  background-color: #282828;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  .row {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
  }

  nav ul {
    display: inline;
  }

  header {
    height: 400px;
  }

  .header-title {
    width: 230px;
    margin: 130px auto 20px;
    padding: 8px 20px;
    border: 1px solid white;
    font-size: 32px;
    text-align: center;
  }

  .header-subtitle {
    font-size: 24px;
  }

  .about-header {
    font-size: 42px;
    padding: 50px 0 20px;
  }

  .about-video {
    width: 70%;
    height: 450px;
    margin: 0 auto 20px;
    background: #333;
  }

  #sponsors {
    width: 70%;
    margin: 0 auto;
    font-size: 21px;
  }

  .sponsors-logo {
    float: left;
    width: 25%;
    margin: 0;
  }

  .sponsors-text {
    width: 70%;
    float: right;
    margin-bottom: 50px;
  }

  #event {
    max-width: 50%;
  }

  #more {
    max-width: 50%;
  }

  #letter {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
  }

  #contact {
    width: 100%;
    max-width: 70%;
    margin: 0 auto 60px;
  }

  #contact h1 {
    text-align: left;
  }

  #contact input {
    margin: 5px;
  }

  .contact-email {
    width:75%;
  }

  .contact-submit {
    width: 15%;
  }

  .wrapper {
    padding: 20px 50px;
  }

}

@media only screen and (min-width: 900px) {
  header {
    height: 650px;
  }

  .header-title {
    width: 310px;
    margin: 200px auto 20px;
    padding: 10px 30px;
    border: 1px solid white;
    font-size: 48px;
    text-align: center;
  }

  .header-subtitle {
    font-size: 32px;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
